.App {
  text-align: center;
}

.intro {
  background-color: #8a331d;
  min-height: 100vh;
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.pitch-section {
  min-height: 40vh;
  font-size: calc(2px + 2vmin);
}

.header-name{
  font-size: calc(10px + 2vmin);
}

.App-subheader{
  font-size: calc(4px + 2vmin);
}
